<div class="navbar">
  <a href="/view-applicant">View Applicants</a>
  <a href="/carrer">Carrer</a>

  <div class="dropdownInterviewer">
    <button class="dropbtnInterviewer">Interviewer Active</button>
    <div class="dropdownInterviewer-content">
      <a href="/interviewer/review-applicant">Review applicant</a>
    </div>
  </div>

  <div class="dropdownHR">
    <button class="dropbtnHR">HR Active</button>
    <div class="dropdownHR-content">
      <a href="/hr/create-vacancy">Create vacancy</a>
      <a href="/hr/create-applicant">Create applicant</a>
    </div>
  </div>
</div>

