<div class="create-applicant">
  <h2>Create Applicant</h2>

  <div class="container">


    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Email">

    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title">

    <label for="dateapplicant">Date of applicant</label>
    <input type="date" id="dayApp" name="dayApp">


    <label for="status">Status</label> <select id="status" name="status">
    <option value="notinProcess">Notin process</option>
    <option value="inprocess">Inprocess</option>
    <option value="hired">Hired</option>
    <option value="banned">Banned</option>
  </select>

    <label for="numberVacancy">Vacancy number</label>
    <input type="text" id="numberVacancy" name="numberVacancy" placeholder="Vacancy Number">

    <label for="status">Experience:</label> <select id="experience:" name="experience:">
    <option value="fresher">Fresher</option>
    <option value="internship">Internship</option>
    <option value="senior">Senior</option>
  </select>


    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Schedule Interview
    </button>

    <div id="id01" class="modal">

      <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
        </div>

        <div class="containerIS">
          <label for="nInterviewer"><b> Number of the Interviewer</b></label>
          <input type="text" placeholder="Enter number of the Interviewer " name="nInterviewer" required>

          <label for="nameInterviewer"><b> Name of the Interviewer</b></label>
          <input type="text" placeholder="Enter name of the Interviewer " name="nameInterviewer" required>

          <label for="scheduled"><b>The date of the scheduled interview</b></label>
          <input type="date" id="scheduled" name="scheduled" required>

          <label for="Start "><b>The start time of the scheduled interview</b></label>
          <input type="time" name="usr_time" required>

          <label for="End"><b>The end time of the scheduled interview</b></label>
          <input type="time" name="usr_time" required>

          <button type="submit">Save</button>

        </div>


      </form>
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>

    <input type="submit" value="Create">

  </div>
</div>
