<h3>Search Applicants</h3>

<div class="container">
  <form action="">
    <label for="fname">Vacancy Number</label>
    <input type="text" id="vancacyNumber" name="vancacyNumber" placeholder="Vacancy Number">


    <label for="status">Status</label>
    <select id="status" name="status">
      <option value="notinProcess">Notin process</option>
      <option value="Inprocess">Inprocess</option>
      <option value="hired">Hired</option>
      <option value="banned">Banned</option>
    </select>


    <input type="submit" value="Save">
  </form>
</div>
