<h2>Create Vancancy</h2>

<div class="container">
  <form action="">


    <label for="dateVancacy">Date creation of the vacancy</label>
    <input type="date" id="dateVancacy" name="dateVancacy">


    <label for="ownedBy">Owned by</label>
    <input type="text" id="ownedBy" name="ownedBy" placeholder="Owned by">


    <label for="statusVacancy">Status of the Vacancy</label> <select id="statusVacancy" name="statusVacancy">
    <option value="open">Open</option>
    <option value="close">Close</option>
    <option value="suspended">Suspended</option></select>

    <label for="title">Title</label>
    <input type="text" id="title"name="title" placeholder="Title">

    <label for="exp">Experience:</label> <select id="experience:" name="experience:">
    <option value="fresher">Fresher</option>
    <option value="internship">Internship</option>
    <option value="senior">Senior</option> </select>


    <label for="quatity">Quatity</label>
    <input type="text" id="quatity" name="quatity" placeholder="Quatity">

    <label for="Department">Department</label>
    <input type="text" id="department" name="department" placeholder="Department">


    <label for="dateGetsClosed">Date gets closed</label>
    <input type="date" id="dateGetsClosed" name="dateGetsClosed">

    <label for="detailedDescription">Detailed description</label>
    <input type="text" id="detailedDescription" name="detailedDescription" placeholder="Detailed description">


    <input type="submit" value="Save">
  </form>
</div>
