<div class="review-applicant">
  <h2>Review applicant</h2>
  <div class="container">
    <form action="">
    <label class="applicant-number">Applicant number</label>
    <input type="text" id="applicant-number" name="applicant-number" placeholder="Enter applicant number">

    <label for="viTriUngTuyen">Vị trí ứng tuyển</label>
    <input type="text" id="viTriUngTuyen" name="viTriUngTuyen" placeholder="Enter applicant number">

    <label for="viTriPhuHop">Vị trí phù hợp</label>
    <input type="text" id="viTriPhuHop" name="viTriPhuHop" placeholder="Enter applicant number">

    <label for="danhGiaChuyenNganh">Đánh giá chuyên ngành </label>
    <input type="text" id="danhGiaChuyenNganh" name="danhGiaChuyenNganh" placeholder="Enter applicant number">

    <label for="danhGiaUngXu">Đánh giá ứng xử</label>
    <input type="text" id="danhGiaUngXu" name="danhGiaUngXu" placeholder="Enter applicant number">

    <label for="experience">Experience:</label> <select id="experience:" name="experience:">
    <option value="fresher">Fresher</option>
    <option value="internship">Internship</option>
    <option value="senior">Senior</option> </select>

    <label for="trinhDoNgonNgu">Trình độ ngôn ngữ </label>
    <input type="text" id="trinhDoNgonNgu" name="trinhDoNgonNgu" placeholder="Enter applicant number">

    <label for="kiNangXuLy">Kĩ năng xử lý tình huống </label>
    <input type="text" id="kiNangXuLy" name="kiNangXuLy" placeholder="Enter applicant number">


    <label class="containerRadioButton">Đậu
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="containerRadioButton">Rớt
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="containerRadioButton">Xem xét
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <br>

    <label for="ghiChu">Ghi chú </label>
    <textarea placeholder="Remember, be nice!" cols="30" rows="5"></textarea>

    <input type="submit" value="Save">
    </form>
  </div>


</div>
